<div class="container mt-3">
  <div class="row">
    <div class="col text-center">
      <img src="img/foto.jpeg" alt="foto headphone" width="200" height="200" class="img-thumbnail rounded-circle">
      <h1 class="display-4">Ahmad Maulana Alaudin</h1>
      <p class="lead">Pro Player | Programmer</p>
    </div>
  </div>
</div>